# Exercises in Recommender systems

This notebook contains exercises in Recommender systems

## Exercise 1

Using the "Coursera Courses Dataset 2021" available at kaggle ([https://www.kaggle.com/datasets/khusheekapoor/coursera-courses-dataset-2021](https://www.kaggle.com/datasets/khusheekapoor/coursera-courses-dataset-2021)) or on moodle, to do the following:

1. Create a Content-based filtering recommender system based on the Course Descriptions.
2. Create a Content-based filtering recommender system based on the Skills.

Using the "Book Recommendation Dataset" available at kaggle ([https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset](https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset)) or on moodle, to do the following:

3. Load in the `Ratings.csv` file (on moodle, it is called `Books_Ratings.csv`). Group by `User-ID` and sort by `Book-Rating` in descending order to get the users who rated most books. Filter the rating data to only contain the 200 users that rated most books.
4. Create a Collaborative filtering recommender system based on the user ratings from 3 together with the `Books.csv` dataset.

1. Create a Content-based filtering recommender system based on the Course Descriptions.

In [83]:
import pandas as pd

data = pd.read_csv('Coursera.csv')

data['Course Description'].head()

0    Write a Full Length Feature Film Script  In th...
1    By the end of this guided project, you will be...
2    This course consists of a general presentation...
3    When it comes to numbers, there is always more...
4    In this course you�ll learn how to effectively...
Name: Course Description, dtype: object

In [84]:
data.head()

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...
3,Finance for Managers,IESE Business School,Intermediate,4.8,https://www.coursera.org/learn/operational-fin...,"When it comes to numbers, there is always more...",accounts receivable dupont analysis analysis...
4,Retrieve Data using Single-Table SQL Queries,Coursera Project Network,Beginner,4.6,https://www.coursera.org/learn/single-table-sq...,In this course you�ll learn how to effectively...,Data Analysis select (sql) database manageme...

In [85]:
# Checking for missing values
data.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [86]:
#Import TF-IDF Vectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
TfidfVectorizer = TfidfVectorizer(stop_words='english')

#Construct the required TF-IDF matrix by fitting and transforming the data
Tfidf_matrix = TfidfVectorizer.fit_transform(data['Course Description'])

#Output the shape of tfidf_matrix
Tfidf_matrix

<3522x20074 sparse matrix of type '<class 'numpy.float64'>'
	with 253718 stored elements in Compressed Sparse Row format>

In [87]:
Tfidf_matrix.toarray()[1, :]

array([0., 0., 0., ..., 0., 0., 0.])

In [88]:
Tfidf_matrix

<3522x20074 sparse matrix of type '<class 'numpy.float64'>'
	with 253718 stored elements in Compressed Sparse Row format>

Now that we have each Course description in vectors. We now need to measure the distance between between two vectors.

In [89]:
#Using the cosine similarity
from sklearn.metrics.pairwise import cosine_similarity

In [90]:
cosine_sim = cosine_similarity(Tfidf_matrix, Tfidf_matrix)

In [91]:
cosine_sim

array([[1.00000000e+00, 3.12366523e-02, 1.97603991e-02, ...,
        3.17538002e-02, 3.33859933e-02, 1.96231367e-02],
       [3.12366523e-02, 1.00000000e+00, 8.58915185e-03, ...,
        3.13671991e-02, 4.88239107e-03, 4.56033552e-02],
       [1.97603991e-02, 8.58915185e-03, 1.00000000e+00, ...,
        3.45669421e-03, 1.65197252e-02, 6.37237740e-03],
       ...,
       [3.17538002e-02, 3.13671991e-02, 3.45669421e-03, ...,
        1.00000000e+00, 5.07544593e-04, 6.72367274e-03],
       [3.33859933e-02, 4.88239107e-03, 1.65197252e-02, ...,
        5.07544593e-04, 1.00000000e+00, 1.14068789e-03],
       [1.96231367e-02, 4.56033552e-02, 6.37237740e-03, ...,
        6.72367274e-03, 1.14068789e-03, 1.00000000e+00]])

In [92]:
cosine_sim.shape

(3522, 3522)

In [93]:
cosine_sim[0, 1]

0.0312366522978012

In [94]:
cosine_sim[1, 0]

0.0312366522978012

In [95]:
#Constructing a reverse map of indices and course titles
indices = pd.Series(data.index, index=data['Course Description']).drop_duplicates()

In [96]:
indices[0:10]

Course Description
Write a Full Length Feature Film Script  In this course, you will write a complete, feature-length screenplay for film or television, be it a serious drama or romantic comedy or anything in between. You�ll learn to break down the creative process into components, and you�ll discover a structured process that allows you to produce a polished and pitch-ready script by the end of the course. Completing this project will increase your confidence in your ideas and abilities, and you�ll feel prepared to pitch your first script and get started on your next. This is a course designed to tap into your creativity and is based in "Active Learning". Most of the actual learning takes place within your own activities - that is, writing! You will learn by doing.  Here is a link to a TRAILER for the course. To view the trailer, please copy and paste the link into your browser. https://vimeo.com/382067900/b78b800dc0  Learner review: "Love the approach Professor Wheeler takes towards this course. It's to the point, easy to follow, and very informative! Would definitely recommend it to anyone who is interested in taking a Screenplay Writing course!  The course curriculum is simple: We will adopt a professional writers room process in which you�ll write, post your work for peer review, share feedback with your peers and revise your work with the feedback you receive from your peers. That's how we do it in the real world. You will feel as if you were in a professional writers room yet no prior experience as a writer is required. I'm a proponent of Experiential Learning (Active Learning). My lectures are short (sometimes just two minutes long) and to the point, designed in a step-by-step process essential to your success as a script writer. I will guide you but I won�t "show" you how to write. I firmly believe that the only way to become a writer is to write, write, write.  Learner Review: "I would like to thank this course instructor. It's an amazing course"  What you�ll need to get started: As mentioned above, no prior script writing experience is required. To begin with, any basic word processor will do. During week two, you can choose to download some free scriptwriting software such as Celtx or Trelby or you may choose to purchase Final Draft, the industry standard, or you can continue to use your word processor and do your own script formatting.   Learner Review: "Now I am a writer!"  If you have any concerns regarding the protection of your original work, Coursera's privacy policy protects the learner's IP and you are indeed the sole owners of your work.    0
By the end of this guided project, you will be fluent in identifying and creating Business Model Canvas solutions based on previous high-level analyses and research data.  This will enable you to identify and map the elements required for new products and services. Furthermore, it is essential for generating positive results for your business venture. This guided project is designed to engage and harness your visionary and exploratory abilities. You will use proven models in strategy and product development with the Miro platform to explore and analyse your business propositions.   We will practice critically examining results from previous analysis and research results in deriving the values for each of the business model sections.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
This course consists of a general presentation of solar cells based on silicon thin films.   It is the third MOOC of the photovoltaic series of Ecole polytechnique on Coursera. The general aspects of the photovoltaic field are treated in "Photovoltaic Solar Energy". And the detailed description of the crystalline silicon solar cells can be found in "Physics of Silicon Solar Cells".  After a brief presentation of solar cells operation, thin film semiconductors are described here. The general properties of disordered and crystalline semiconductors are found very different, in particular in terms of band structure and doping mechanisms. Silicon thin films, generally less than 1 �m thick, are deposited from silane plasma leading to hydrogen incorporation. The growth mechanisms are discussed, in particular the capability to prepare partially crystallized thin films which appear as a mixture of nanocrystallites embedded in an amorphous tissue.  The consequences of the semiconductor properties on solar cells behavior are reviewed. The optical properties of amorphous and nanocrystalline silicon are complementary. Thus the plasma process is particularly well adapted to the preparation of multijunctions, with conversion efficiencies around 13-15 %. Furthermore plasma processes allow to prepare solar cells in large area on glass or flexible substrates.  Finally, it is shown that crystalline and amorphous silicon materials can be combine into heterojunctions solar cells with high efficiency conversion (about 25 %).  **This course is part of a series of 3** Photovoltaic solar energy (https://www.coursera.org/learn/photovoltaic-solar-energy/) Physics of silicon solar cells (https://www.coursera.org/learn/physics-silicon-solar-cells/) Silicon thin film solar cells                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          2
When it comes to numbers, there is always more than meets the eye.  In operational finance, you will learn how to read the �story� that the balance sheet and income statement tells about the company�s operations. The insights you gain from this �financial story� will then become a tool for short-term decision-making at the top management level relating to current assets, current liabilities and the management of working capital. Finally, by the end of the course you will understand the financial consequences of managerial decisions on operations, marketing, etc.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     3
In this course you�ll learn how to effectively retrieve data from a relational database table using the SQL language.   We all know that most computer systems rely on at least one database to store data. Your tax information is stored in the database used by the Internal Revenue Service. Your phone stores your contacts�   names, addresses, email addresses, and phone numbers in a database. If you shop online, you�re viewing photos, descriptions, and prices of products that are stored in a database. Database designers go to great lengths to design databases so that the data can be stored securely and in an organized format. It�s important to note that the main reason they go to all that work is so that we can get the data back out again when we need it! That�s called �data retrieval�.   Data is retrieved or read from a relational database by using a language called SQL to query (or question) the database. SQL is referred to as �the language of relational databases�. It can be used by itself or embedded in programs to retrieve data. Once the data is retrieved, it can be displayed on a web page or PC application, or even printed on paper.   You�ll be practicing writing SQL queries using SQLiteStudio.   Next time you go online and look up the daily special at your favorite restaurant, you can think about the fact that it�s likely that an SQL query was used behind the scenes to fetch that data and pop it up on your screen. By the end of this course, you�ll even have a pretty good idea what the query might have looked like!  Note: This course works best for learners who are based in the North America region. We�re currently working on providing the same experience in other regions.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      4
Selenium is one of the most widely used functional UI automation testing tools and TestNG is a brilliant testing framework.  Test automation frameworks are a set of guidelines or rules for writing test cases.  They can reduce maintenance costs and testing efforts and will provide a higher return on investment (ROI) for teams looking to optimize their processes.  Testing guidelines include coding standards, test-data management, defining object repositories, reporting guidelines, and logging strategies.  Through hands-on, practical experience, you will go through concepts writing reusable and structure code which is easy to maintain and understand, creating helper classes or utilities, write effective testcases, and generating reports and logs.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            5
Doing Business in China Capstone enables you to apply your skills to real business challenges. You�ll use your newly earned business skills to identify, explore and evaluate a real opportunity involving products.  In this capstone, you are the business consultant working for a well-established �HON / wellness� company.  The CEO has given you a task.  You have to bring a new overseas product into China.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        6

We can now define a recommendor function.

In [97]:
def get_recommendations(course_des, cosine_sim=cosine_sim):
    # Find all course descriptions that contain the keyword
    matching_courses = data[data['Course Description'].str.contains(course_des, case=False, na=False)]

    if matching_courses.empty:
        return f"No courses found with the keyword '{course_des}' in their description."

    # Get the index of the first matching course
    idx = matching_courses.index[0]

    # Get the pairwise similarity scores of all courses with that course
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the courses based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar courses
    sim_scores = sim_scores[1:11]

    # Get the course indices
    course_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar courses
    return data['Course Description'].iloc[course_indices]

# Getting recommendations for the course with 'Python'
recommendations = get_recommendations('Python')
print(recommendations)

740     This course will continue the introduction to ...
2329    This course will continue the introduction to ...
747     This course introduces the dictionary data str...
2039    Kickstart your learning of Python for data sci...
2518    Kickstart your learning of Python for data sci...
2519    Kickstart your learning of Python for data sci...
2886    Kickstart your learning of Python for data sci...
1210    By the end of this course, you will create a b...
3242    This two-part course is designed to help stude...
2087    This if the final course in the specialization...
Name: Course Description, dtype: object

In [98]:
# Getting recommendations for the course
get_recommendations('Python')

740     This course will continue the introduction to ...
2329    This course will continue the introduction to ...
747     This course introduces the dictionary data str...
2039    Kickstart your learning of Python for data sci...
2518    Kickstart your learning of Python for data sci...
2519    Kickstart your learning of Python for data sci...
2886    Kickstart your learning of Python for data sci...
1210    By the end of this course, you will create a b...
3242    This two-part course is designed to help stude...
2087    This if the final course in the specialization...
Name: Course Description, dtype: object

2. Create a Content-based filtering recommender system based on the Skills.

In [99]:
# Printing an overview of the first 5 skills
data['Skills'].head()

0    Drama  Comedy  peering  screenwriting  film  D...
1    Finance  business plan  persona (user experien...
2    chemistry  physics  Solar Energy  film  lambda...
3    accounts receivable  dupont analysis  analysis...
4    Data Analysis  select (sql)  database manageme...
Name: Skills, dtype: object

In [100]:
data['Skills'][0]

'Drama  Comedy  peering  screenwriting  film  Document Review  dialogue  creative writing  Writing  unix shells arts-and-humanities music-and-art'

In [101]:
# Checking for missing values
data.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [102]:
# Since there's no null values in the 'Skills' column, we can proceed with the same steps as befor

#Construct the required TF-IDF matrix by fitting and transforming the data
Tfidf_matrix = TfidfVectorizer.fit_transform(data['Skills'])

#Output the shape of tfidf_matrix
Tfidf_matrix.shape

(3522, 4337)

In [103]:
Tfidf_matrix.toarray()[1, :]

array([0., 0., 0., ..., 0., 0., 0.])

In [104]:
Tfidf_matrix

<3522x4337 sparse matrix of type '<class 'numpy.float64'>'
	with 55616 stored elements in Compressed Sparse Row format>

In [105]:
%%time
cosine_sim = cosine_similarity(Tfidf_matrix, Tfidf_matrix)

CPU times: total: 109 ms
Wall time: 142 ms

In [106]:
cosine_sim

array([[1.        , 0.        , 0.05204333, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.20061523, 0.        ,
        0.01306076],
       [0.05204333, 0.        , 1.        , ..., 0.        , 0.1787157 ,
        0.00490933],
       ...,
       [0.        , 0.20061523, 0.        , ..., 1.        , 0.        ,
        0.03178263],
       [0.        , 0.        , 0.1787157 , ..., 0.        , 1.        ,
        0.00459616],
       [0.        , 0.01306076, 0.00490933, ..., 0.03178263, 0.00459616,
        1.        ]])

In [107]:
cosine_sim.shape

(3522, 3522)

In [108]:
cosine_sim[0,1]

0.0

In [109]:
cosine_sim[1,0]

0.0

In [110]:
#Contructing a reverse map of indices and course titles
indices = pd.Series(data.index, index=data['Skills']).drop_duplicates()

In [111]:
indices[0:10]

Skills
Drama  Comedy  peering  screenwriting  film  Document Review  dialogue  creative writing  Writing  unix shells arts-and-humanities music-and-art                                                                                               0
Finance  business plan  persona (user experience)  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy                                                                  1
chemistry  physics  Solar Energy  film  lambda calculus  Electrical Engineering  electronics  energy  silicon  thinning physical-science-and-engineering electrical-engineering                                                                2
accounts receivable  dupont analysis  analysis  Accounting  Finance  Operations Management  Leadership and Management  balance sheet  inventory  Financial Analysis business finance                                                           3
Data Analysis  select (sql)  database management systems  online shopping  table (database)  data retrieval  Databases  web page  numbers (spreadsheet)  SQL information-technology data-management                                            4
maintenance  test case  test automation  screenshot  project  helper class  selenium  reusability  debugging  php computer-science software-development                                                                                        5
marketing plan  Planning  Marketing  consumption (economics)  wait (system call)  business plan  strategic planning  audience  project  Writing business business-strategy                                                                     6
inference  ml (programming language)  higher-order function  functional programming  type inference  pattern matching  euler's totient function  language  ?-recursive function  Computer Programming computer-science software-development    7
Planning  Peer Review  fundraising  strategic planning  resource  concept testing  leadership  measurement  performance  evaluation business leadership-and-management                                                                         8
Russian  market (economics)  tax exemption  cooperation  Communication  Taxes  adjective  h.e.a.r.  listening  c dynamic memory allocation language-learning other-languages                                                                   9
dtype: int64

In [112]:
# Function to get recommendations based on the skills
def Get_recommendations(Skills, cosine_sim=cosine_sim):
    # Find all courses that contain the keyword
    matching_courses = data[data['Skills'].str.contains(Skills, case=False, na=False)]

    if matching_courses.empty:
        return f"No courses found with the keyword '{Skills}' in their description."

    # Get the index of the first matching course
    idx = matching_courses.index[0]

    # Get the pairwise similarity scores of all courses with that course
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the courses based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar courses
    sim_scores = sim_scores[1:11]

    # Get the course indices
    course_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar courses
    return data['Skills'].iloc[course_indices]

In [113]:
# Getting recommendations for the course with 'Computer Science'
recommendations = Get_recommendations('Python')
print(recommendations)

1656    basic programming language  language  Computer...
548     Python Programming  Databases  ipython  langua...
305     dict  Python Programming  python syntax and se...
1871    Problem Solving  python syntax and semantics  ...
460     syntax  language  semantics  Computer Programm...
2824    Programming Principles  principle  semantics  ...
3517    Databases  syntax  analysis  web  Data Visuali...
3242    syntax  interactive computing  social media ma...
1000    list comprehension  python syntax and semantic...
734     python syntax and semantics  computer program ...
Name: Skills, dtype: object

Using the "Book Recommendation Dataset" available at kaggle ([https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset](https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset)) or on moodle, to do the following:

3. Load in the `Ratings.csv` file (on moodle, it is called `Books_Ratings.csv`). Group by `User-ID` and sort by `Book-Rating` in descending order to get the users who rated most books. Filter the rating data to only contain the 200 users that rated most books.
4. Create a Collaborative filtering recommender system based on the user ratings from 3 together with the `Books.csv` dataset.

3. Load in the `Ratings.csv` file (on moodle, it is called `Books_Ratings.csv`). Group by `User-ID` and sort by `Book-Rating` in descending order to get the users who rated most books. Filter the rating data to only contain the 200 users that rated most books.

In [137]:
# Loading the data
ratings = pd.read_csv('Books_Ratings.csv')

ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [138]:
# Grouping the data by 'User-ID' in decsending order to get the users who rated the most books
ratings.groupby('User-ID').count().sort_values(by='Book-Rating', ascending=False).head()

          ISBN  Book-Rating
User-ID
11676    13602        13602
198711    7550         7550
153662    6109         6109
98391     5891         5891
35859     5850         5850

In [151]:
top_200_users = ratings['User-ID'].value_counts().head(200).index

top_200_users

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
        28204, 150124, 180651, 149908,  33974, 262998, 210035, 106225, 133747,
       206534],
      dtype='int64', name='User-ID', length=200)

In [149]:
# Filtering the data to get the top 200 users that rated the most books
top_200_users_ratings = ratings[ratings['User-ID'].isin(top_200_users)]

In [150]:
top_200_users_ratings

         User-ID        ISBN  Book-Rating
4330      278418  0006128831            0
4331      278418  0006542808            5
4332      278418  0020209606            0
4333      278418  0020418809            0
4334      278418  0020420900            0
...          ...         ...          ...
1147612   275970  3829021860            0
1147613   275970  4770019572            0
1147614   275970   896086097            0
1147615   275970  9626340762            8
1147616   275970  9626344990            0

[288349 rows x 3 columns]

4. Create a Collaborative filtering recommender system based on the user ratings from 3 together with the `Books.csv` dataset.

In [140]:
books = pd.read_csv('Books.csv')

books.head()

C:\Users\victo\AppData\Local\Temp\ipykernel_2600\3881100609.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [152]:
# Creating a Collaborative Filtering recommender system based on the user ratings from 3 together with the books dataset

# Merging the dataframes
df = top_200_users_ratings.merge(books, on='ISBN', how='inner')

df.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,278418,0006542808,5,Silence of the Sirens,Adel Garcia Morales,0,Flamingo,http://images.amazon.com/images/P/0006542808.0...,http://images.amazon.com/images/P/0006542808.0...,http://images.amazon.com/images/P/0006542808.0...
1,278418,0020209606,0,NEVER ALONE REISSUE,Phyllis Hobe,1987,Scribner Paper Fiction,http://images.amazon.com/images/P/0020209606.0...,http://images.amazon.com/images/P/0020209606.0...,http://images.amazon.com/images/P/0020209606.0...
2,278418,0020418809,0,CADDIE WOODLAWN,Carol Ryrie Brink,1970,Simon Pulse,http://images.amazon.com/images/P/0020418809.0...,http://images.amazon.com/images/P/0020418809.0...,http://images.amazon.com/images/P/0020418809.0...
3,278418,0020420900,0,Paul Revere : Boston Patriot (Childhood Of Fam...,Augusta Stevenson,1986,Aladdin,http://images.amazon.com/images/P/0020420900.0...,http://images.amazon.com/images/P/0020420900.0...,http://images.amazon.com/images/P/0020420900.0...
4,278418,002043300X,0,Big Snow,Berta Hader,1972,MacMillan Publishing Company.,http://images.amazon.com/images/P/002043300X.0...,http://images.amazon.com/images/P/002043300X.0...,http://images.amazon.com/images/P/002043300X.0...

In [153]:
df.shape

(270629, 10)

In [154]:
df['User-ID'].nunique()

200

In [155]:
df['Book-Title'].nunique()

115766

We see that there are 1031136 ratings in total by 92106 users and 241071 unique books.

Let us see how many rated the most rated books

In [156]:
rating_counts = pd.DataFrame(df["Book-Title"].value_counts())

rating_counts.head(10)

                                                 count
Book-Title
Bridget Jones's Diary                              117
Wild Animus                                        100
The Pelican Brief                                   99
Message in a Bottle                                 97
The Notebook                                        93
A Time to Kill                                      91
The Firm                                            90
A Painted House                                     89
The Horse Whisperer                                 89
Divine Secrets of the Ya-Ya Sisterhood: A Novel     84

Lets see and drop how many books, that were not rated.

In [157]:
df[["Book-Title", "Book-Rating"]].dropna().drop(columns=["Book-Rating"]).value_counts()

Book-Title
Bridget Jones's Diary             117
Wild Animus                       100
The Pelican Brief                  99
Message in a Bottle                97
The Notebook                       93
                                 ...
King David's Spaceship              1
King Charlie                        1
King Charles III: A Biography       1
King Bongo : A Novel of Havana      1
Ã?Â?stlich der Berge.               1
Name: count, Length: 115766, dtype: int64

In [167]:
user_book_df = df[["User-ID", "Book-Title", "Book-Rating"]]

In [168]:
user_book_df

,User-ID,Book-Title,Book-Rating
0,278418,Silence of the Sirens,5
1,278418,NEVER ALONE REISSUE,0
2,278418,CADDIE WOODLAWN,0
3,278418,Paul Revere : Boston Patriot (Childhood Of Fam...,0
4,278418,Big Snow,0
...,...,...,...
270624,275970,There's a Porcupine in My Outhouse: Misadventu...,0
270625,275970,Die Biene.,10
270626,275970,The Penis Book,0
270627,275970,Musashi,0
270628,275970,Northanger Abbey (Classic Literature with Clas...,8

Creating a dataframe with the user ratings only

In [169]:
user_book_df = user_book_df.pivot_table(index='User-ID', columns='Book-Title', values='Book-Rating')

In [161]:
user_book_df

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Always Have Popsicles,Apple Magic (The Collector's series),Beyond IBM: Leadership Marketing and Finance for the 1990s,Dark Justice,Deceived,"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),Garfield Bigger and Better (Garfield (Numbered Paperback)),"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",...,whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!",Â¡Cristina! confidencias de una rubia,Â¿Eres tu mi mamÃ¡?/Are You My Mother?,"Â¿QuÃ© me quieres, amor?","Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.,Ã?Â?stlich der Berge.
User-ID,,,,,,,,,,,,,,,,,,,,,
3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11601,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [170]:
user_book_df.shape

(200, 115766)

In [171]:
import numpy as np

random_user = np.array(user_book_df.sample(random_state=42).index)[0]
random_user

143175

In [172]:
random_user_df = user_book_df[user_book_df.index == random_user]
random_user_df

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Always Have Popsicles,Apple Magic (The Collector's series),Beyond IBM: Leadership Marketing and Finance for the 1990s,Dark Justice,Deceived,"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),Garfield Bigger and Better (Garfield (Numbered Paperback)),"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",...,whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!",Â¡Cristina! confidencias de una rubia,Â¿Eres tu mi mamÃ¡?/Are You My Mother?,"Â¿QuÃ© me quieres, amor?","Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.,Ã?Â?stlich der Berge.
User-ID,,,,,,,,,,,,,,,,,,,,,
143175,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [173]:
random_user_books_read = random_user_df.columns[random_user_df.notna().any()].tolist()
random_user_books_read

['1812 (The American Story)',
 '1984',
 '1st to Die',
 '1st to Die: A Novel',
 '3rd Degree',
 '4 Blondes',
 'A Colton Family Christmas',
 'A Day Late and Dollar Short',
 'A Five-Year Plan',
 'A Knife to Remember (Jane Jeffry Mysteries (Paperback))',
 'A Knight in Shining Armor',
 'A Lady of Property',
 'A Long Way from Chicago',
 'A Love to Remember',
 'A Man in Full',
 'A Painted House',
 'A Perfect Fit (Time of Your Life)',
 'A Season Of Miracles',
 'A THOUSAND ACRES (MOVIE TIE-IN REISSUE)  CASSETTE',
 'A Very Long Engagement',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail',
 'A Wizard of Earthsea (Earthsea Trilogy, Book 1)',
 'ANGELS FROM HELL : ALMOST TOTALLY TRUE TALES OF INFERNAL, AND OTHERWISE INEXPLICABLE, INTERVENTION',
 "Adam's Fall",
 'After Sundown',
 'Against Her Will',
 'Air Battle Force (Brown, Dale)',
 'All But The Queen Of Hearts (Harlequin Historical Romances, No 369)',
 'All Creatures Great and Small',
 'All Mothers Work: A Guilt Free Guide for the Stay at Home Mom',
 'All Shook Up (Avon Romance)',
 'Allen Carrs Easy Way to Stop Smoking',
 'Almost a Lady',
 'Along Came a Spider',
 'Along Came a Spider (Alex Cross Novels)',
 "Amanda's Wedding: A Novel",
 'Amarillo By Morning (Silhouette Special Editions, No 464)',
 'American Dreams',
 'Among the Heroes: United Flight 93 and the Passengers and Crew Who Fought Back',
 'An Angel in Time',
 "An Angel's Christmas",
 'Angel on Vacation: A Novel',
 'Ann Margret: My Story',
 'Another City, Not My Own: A Novel in the Form of a Memoir',
 'Apaches',
 'Are You Somebody? : The Accidental Memoir of a Dublin Woman',
 'Around the ward in 80 days: A novel',
 'Asking for Trouble : A Novel',
 'Atlantis Found (Dirk Pitt Novels (Audio))',
 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))',
 'BITTER HARVEST: A WOMAN\'S FURY A MOTHERS SACRIFICE : \\A Woman\'s Fury, a Mother\'s Sacrifice\\""',
 "Baby, It'S You (Silhouette Special Edition, No. 708)",
 'Bachelor Blues (Harlequin Temptation, No. 763)',
 'Badge And The Baby (Bachelors &amp; Babies) (Harlequin Temptation, 741)',
 "Balancing Act  (Readers' Ring)",
 'Barbie Fashion, 1959-1967 (Barbie Doll Fashion)',
 'Battle Front: USA Vs. Militia',
 'Battlefield Earth: A Saga of the Year 3000',
 "Be Loved for Who You Really Are : How the Differences Between Men and Women Can Be Turned into the Source of the Very Best Romance You'll Ever Know",
 'Bedazzled',
 'Before I Say Good-bye',
 'Being a Green Mother (Incarnations of Immortality (Paperback))',
 'Bel Canto: A Novel',
 'Beneath a Harvest Sky (Desert Roses, 3)',
 "Bernard Clayton's Cooking Across America: Cooking With More Than 100 of North America's Best Cooks and 250 of Their Favorite Recipes",
 "Best of the Best from Texas 2: Selected Recipes from Texas' Favorite Cookbooks",
 'Better Homes and Gardens Great Cooking for Two',
 'Between Friends',
 'Billy And The Kid (Bachelors &amp; Babies) (Harlequin Temptation, No. 765)',
 'Billy the Kid the Good Side of a Bad Man',
 'Billy the Kid: A Short and Violent Life',
 "Bio-Strike (Tom Clancy's Power Plays (Paperback))",
 'Birds of Prey: A Novel of Suspense',
 'Bitterroot',
 'Black House',
 'Black Opal',
 'Black and Blue',
 'Blame It On Texas',
 'Blindfold',
 'Blood Crimes',
 'Bloodstream: A Novel of Medical Suspense',
 'Blue Bayou',
 'Blue Shoe',
 'Boogeyman (Star Trek: The Next Generation, No. 17)',
 'Bookends',
 'Born for Liberty: A History of Women in America',
 'Brain Droppings',
 'Brave Cowboy',
 'Breach of Duty: A J.P. Beaumont Mystery',
 'Breathing Room : A Novel',
 'Bride On The Run (Silhouette Intimate Moments, No 516)',
 "Bride's Little Book of Bouquets and Flowers",
 'Brighten the Corner Where You Are',
 'Buried Secrets: A True Story of Serial Murder',
 "Busman's Honeymoon: A Lord Peter Wimsey and Harriet Vane Mystery (Mystery Masters Series)",
 'By Passion Bound (Candlelight Ecstasy Romance)',
 'By the Light of the Moon',
 'Bygones',
 'C Is for Corpse (Kinsey Millhone Mysteries (Audio))',
 'CADDIE WOODLAWN',
 'Cabin',
 "Cade'S Justice (Harlequin Historical Romances, No 392)",
 "Can't Take My Eyes Off of You (Zebra Book.)",
 'Capital Crimes',
 'Captive Bride',
 'Case Of The Mesmerizing Boss (And the Winner Is)',
 'Castle of Wizardry (The Belgariad, Book 4)',
 'Cat and Mouse',
 'Catherine, Called Birdy (Trophy Newbery)',
 'Cheaters',
 'Chicken Soup for the Christian Soul (Chicken Soup for the Soul)',
 'Chicken Soup for the Country Soul: Stories Served Up Country-Style and Straight the Heart (Chicken Soup for the Soul (Audio Health Communications))',
 'Chicken Soup for the Soul of America : Stories to Heal the Heart of Our Nation (Chicken Soup for the Soul (Paper))',
 'Chop Shop',
 'Chopping Spree (Goldy Bear Culinary Mystery, 11)',
 "Christmas Cowboys  (By Request 2's) (By Request 2's)",
 "Cinderella's Shoe Size (Harlequin American Romance)",
 'Circle of Friends',
 'Clear and Present Danger',
 'Cold Asylum (Deathlands #20) (Deathlands, No 20)',
 'Colony',
 'Comes A Stranger (Silhouette Intimate Moments, No 108)',
 'Comfort from a Country Quilt: Finding New Inspiration and Strength from Old-Fashioned Values',
 'Confession',
 'Confessions of a Shopaholic (Summer Display Opportunity)',
 'Cooking With Regis &amp; Kathie Lee',
 'Coping With Difficult People',
 "Cordina's Crown Jewel",
 'Cousin Bette: Poor Relations',
 'Cowboy Next Door (Back To The Ranch) (Harlequin Romance, No 3286)',
 'Cowboy Pi (Harlequin Intrigue, 728)',
 'Cradle and All',
 'Crazy for You',
 'Crazymaker',
 'Crossing over: The Stories Behind the Stories',
 'Crossover (Star Trek: The Next Generation)',
 'Cruel Sacrifice',
 'DELUSIONS OF GRANDMA : DELUSIONS OF GRANDMA',
 'DONT SWEAT THE SMALL STUFF WITH YOUR FAMILY CS : Simple Ways to Keep Daily Responsibilities and Household Chaos from Taking Over Your Life',
 'DOUBLE EXPOSURE FROM A GIFT OF LOVE : From A Gift of Love',
 'Dangerous Games (Forgotten Realms:  Arcane Age series, Book 2)',
 'Dare to Love',
 'Daring to Dream',
 'Dead Ringer CD',
 'Deadlines &amp; Datelines',
 'Deadly Schedule',
 'Decorative crafts',
 "Delta Style: Eve Wasn't a Size 6 and Neither Am I",
 'Destinys Daughter',
 'Developmental Cognitive Neuroscience: An Introduction (Fundamentals of Cognitive Neuroscience, V. 1)',
 'Devil Earl (Harlequin Historical)',
 'Devil in the Sky (Star Trek Deep Space Nine, No 11)',
 'Diana and Jackie : Maidens, Mothers, Myths',
 'Diplomatic Implausibility (Star Trek The Next Generation, No 61)',
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel',
 "Does She or Doesn't She?",
 'Double Exposure (Harlequin Special Edition, No 636)',
 'Double Image',
 'Double, Double (Star Trek, No 45)',
 "Dr. Atkins' New Diet Revolution",
 'Dracula (Signet Classics (Paperback))',
 'Dream Country (Nova Audio Books)',
 "Dreamer's Dictionary",
 'Dreaming Southern',
 'Duct Shui: A New Tape on an Ancient Philosophy',
 'Duets #51 (Two Across, Two Down/The Cupid Caper) (Duets, 51)',
 'Duets #54 (Dan All Over Again/The Mountie Steals A Wife) (Duets, 54)',
 'Duets : Something About Ewe/the Purrfect Man (Duets, 53)',
 'Dying for Chocolate: A Culinary Mystery (Culinary Mysteries (Audio))',
 "Eagle's Cry : A Novel of the Louisiana Purchase (The American Story)",
 "Einstein's Daughter: The Search for Lieserl",
 'Elena of the Stars',
 'Eleventh Hour: An FBI Thriller',
 'Ellen Foster',
 'Enders Game',
 'Engaging Men (Red Dress Ink (Paperback))',
 'Enticements',
 'Envy',
 'Escape from Undermountain (Forgotten Realms - the Nobles , No 3)',
 'Essential Wife (Harlequin Historical Romances, No 368)',
 'Even Cowgirls Get the Blues',
 "Every Woman'S Fantasy (Mail Order Men) (Harlequin Temptation, No 826)",
 'Everythg But Time',
 'Executive Orders',
 'Executive Orders (Jack Ryan Novels)',
 'Eyes of an Angel: A Novel',
 'FLOOD TIDE',
 'FOR THE ROSES',
 'Fall from Grace',
 'Family Album',
 'Family Blessings',
 'Family Honor',
 'Fantasies &amp; The Future  (Hearts Of Fire) (Harlequin Presents, No 1772)',
 'Farmer/Shadowland',
 'Fascination (An Avon romantic treasure)',
 'Fast Women',
 'Fat Tuesday',
 'Fatal Harvest',
 'Final Affair: The Shocking True Story of Marriage and Murder (Berkley True Crime)',
 'Fine Things',
 'Fire on High (Star Trek New Frontier, No 6)',
 'First Frontier (Star Trek, Book 75)',
 'First Love and Forever: A Novel',
 'First Love, Second Chances: A Novel',
 'Five Days in Paris',
 'Fly on The Wall Low Price Cassette : Low Price',
 'Footsteps Through Tulsa',
 'For Better, for Worse',
 'For Better, for Worse: A Novel',
 'For My Daughter (Petites Ser)',
 'Forbidden Fruit',
 'Forever',
 'Forever in His Arms',
 'Forever... : A Novel of Good and Evil, Love and Hope',
 'Found: His Perfect Wife (Special Edition, 1310)',
 'Four Blind Mice',
 'Free Fall',
 'Friendships of Women',
 'From Beginning to End: The Rituals of Our Lives',
 'Fruitcake (Mira (Audio))',
 'Gabrielle (Sunfire, No 24)',
 'Galilee',
 'Gallagher Justice',
 'Garden of Lies (Signet Shakespeare)',
 'Garden of Rama',
 'Gen Duty Nurse',
 "Gerald's Game",
 'Get a Life!',
 'Getting Lucky (Avon Light Contemporary Romances)',
 'Getting Pregnant: What You Need To Know Right Now',
 'Getting Rid Of Bradley',
 'Ghost of a Chance (Star Trek Voyager, Book 7)',
 'Girlfriends',
 'God Save the Sweet Potato Queens',
 'Going Nowhere Fast',
 'Going...Going...Wed! (Wife, Inc./Virgin Auction) (Silhouette Desire, 1265)',
 'Goldilocks',
 'Good in Bed',
 'Grand Theft: Heart',
 'Ground Zero and Beyond',
 'Guilt',
 'Halloween Night',
 'Hannibal',
 'Havana Twist',
 'Hawaii for free: Hundreds of free things to do in Hawaii',
 "He Sees You When You're Sleeping : A Novel",
 "He'S Just A Cowboy (Silhouette Special Edition, No 799)",
 'Heart Trouble (Harlequin Temptation, No. 390)',
 'Heart on Holiday',
 'Heartbreaker',
 'Hearts in the Web',
 'Heaven Help Us',
 "Help Me! I'm Depressed (Help Me)",
 'Her Own Rules',
 'Hero Of The Flint Hills (Harlequin Historicals, No 397)',
 'Hidden Riches',
 'Hide &amp; Seek',
 "Hired Husband (Fortune'S Children) (Fortune's Children)",
 'Holding the Dream (Dream Trilogy)',
 'Hollywood Wives - The New Generation',
 'Home Across the Road: A Novel',
 'Home Song',
 'Homecoming',
 'Honeymoon: A Novel',
 'Hostage',
 'Hound Of The Far Side (Far Side Books, Collection No 7)',
 "How to Be Your Husband's Best Friend: 365 Ways to Express Your Love",
 "How to Get a Date With a Vampire (And What to Do With Him Once You've Got Him)",
 "How to Write a Children's Book and Get It Published",
 'How to buy stocks',
 'Hummingbird',
 'I Only Say This Because I Love You: How The Way We Talk Can Make Or Break Family Relationships Throughout Our Lives',
 'In Her Shoes : A Novel',
 'In Search Of The Far Side',
 'In Your Arms',
 'In a Class by Itself',
 'In the Ocean of Night',
 'Interview with the Vampire',
 'Into the Wild',
 'Irish Hearts',
 'Irresistible (And the Winner Is)',
 'It Had To Be You (Silhouette Desire, No 756)',
 'It Takes an Angel: A Novel',
 'Jack &amp; Jill',
 'Jade Island',
 'Janet Evanovich CD Box Set',
 "Jerry Springer's Wildest Shows Ever! : The Official Jerry Springer Show Companion",
 "Jessie'S Expecting (The Chandlers Request) (Silhouette Romance, 1475)",
 'Jewels of Tessa Kent',
 'Jim the Boy : A Novel',
 'Jimmy Stillman: I Will Always Love You',
 'Jurassic Park',
 'Just Call Me an Angel',
 'Justice (Peter Decker &amp; Rina Lazarus Novels (Audio))',
 'Kate: The Life of Katharine Hepburn',
 'Keeper of the Heart',
 'Keepsake Crimes (First Scrapbooking Mystery)',
 'Killers of Man',
 'Kiss the Girls',
 'Knee Deep in Paradise (Nova Audio Books)',
 'Knights Divided  (The Sommerville Brothers) (Harlequin Historicals, No 359)',
 'Knocked Out by My Nunga-Nungas : Further, Further Confessions of Georgia Nicolson (Confessions of Georgia Nicolson)',
 'LET ME CALL YOU SWEETHEART',
 'LOVES MUSIC, LOVES TO DANCE',
 'Lady Wore Spurs (Celebration 1000!) (Silhouette Romance, No 1010)',
 "Lara'S Lover (Rumor Has It...) (Silhoette Special Edition, No 1366)",
 "Lassiter'S Law (43 Light Street/Mine To Keep) (Harlequin Intrigue, No. 641)",
 'Last Man Standing',
 'Last Stand of the DNA Cowboys',
 'Last Waltz',
 'Lawman (Harlequin Historical Romances, No 367)',
 'Leap of Faith',
 'Leather And Lace (Harlequin Desire, No 657)',
 'Letters Of Love (Harlequin Historical Romance, No 3021)',
 'Letters from Motherless Daughters: Words of Courage, Grief, and Healing',
 "Life's Little Instruction Book (Life's Little Instruction Books (Paperback))",
 'Lightkeeper',
 'Like Mother, Like Daughter',
 'Lily White',
 "Linda Goodman's Sun Signs",
 'Local Girls',
 'Lone Star Baby (Macomber, Debbie. Heart of Texas (Grand Haven, Mich.).)',
 'Looking Glass Years',
 'Lord of a Thousand Nights',
 'Lost Warriors (And the Winner Is)',
 'Love In A Spin (Harlequin Presents, No 1276)',
 'Love Slave (Harlequin Temptation, No. 448)',
 'Love Thy Neighbour (Harlequin Romance, No 3098)',
 'Love in the Wilds',
 'Love-Makers',
 'Loving Leah',
 'Lucky',
 'Lucky You: A Novel',
 'MASQUERADE HEARTS',
 'MY DATE WITH SATAN : Stories',
 'Making Minty Malone',
 'Man Who Ate the 747',
 'Manseed',
 'Mariette in Ecstasy',
 'Marooned With A Millionaire',
 'Marriage Badge (The Blackwell Brothers) (Silhoutte Romance, No 1443)',
 'Mars and Venus in the Bedroom : Guide to Lasting Romance and Passion, A',
 'Martyr (Star Trek New Frontier, No 5)',
 'Master of Midnight',
 'Maybe This Christmas',
 'Men in Love',
 'Men, Women and Relationships',
 "Mendel's Child",
 'Merlin',
 'Mick Harte Was Here',
 'Microserfs',
 'Midnight Runner',
 'Millionaire Dad (The Rulebreakers) (Silhouette Desire , No 1166)',
 'Millionaire M D (Texas Cattlemans Club: Lone Star Jewels) (Silhouette Desire, 1340)',
 'Miracle on the 17th Green',
 'Mortal Pursuit',
 "Mother'S Love (Women Who Dare) (Harlequin Superromance, No 669)",
 'Motorcycle Diaries: A Journey Around South America',
 'Mrs. Pollifax and the Lion Killer',
 'Murder at the National Gallery (Capital Crime Mysteries)',
 'Murder in Georgetown (Capital Crime Mysteries)',
 'My Name Is John',
 'Mystic River',
 'Naked',
 'Naked Lunch',
 'Natural Blonde: A Memoir',
 'Natural Causes',
 "Nell's Cowboy (Harlequin Romance Audio)",
 'Never Alone (43 Light Street/Mine To Keep) (Harlequin Intrigue, No. 633)',
 'New Attitude',
 'New Beginnings',
 'Nick All Night (Silhouette Special Edition, 1475)',
 'No Room For Love',
 "Nobody's Fool",
 'Notes to Myself',
 'Notorious',
 'November of the Heart',
 'ONCE A MONTH COOK SPIRAL',
 'Olivia or the Weight of the Past',
 'On Becoming Baby Wise: Learn How over 500,000 Babies Were Trained to Sleep Through the Night the Natural Way',
 "Once Burned (Star Trek New Frontier: The Captain's Table, Book 5)",
 'Once Upon a Kiss',
 'Once a Princess',
 'One Last Time: A Psychic Medium Speaks to Those We Have Loved and Lost',
 "One Size Doesn't Fit All",
 'Only Forward',
 'Orchid Beach (Holly Barker Novels (Paperback))',
 'Outer Banks',
 'PSV Two for the Dough : A Stephanie Plum Novel (Stephanie Plum Novels (Paperback))',
 'Pacific Aphrodite',
 "Pandora's Clock",
 "Passion'S Baby (Harlequin Presents, 2172)",
 'Pet Sematary',
 'Phantom',
 'Players at the Game of People',
 'Poems of Love',
 'Point of Impact',
 'Polar Star',
 'Pop Goes the Weasel',
 'Portals in a Northern Sky',
 'Presumed Innocent',
 "Pretend You Don't See Her",
 'Price of the Stars (Mageworlds)',
 'Prince of Dreams',
 'Princess Gets Engaged  (50th Book) (Harlequin Special Edition, No 1133)',
 'Private Practices',
 'Prodigal Summer: A Novel',
 'Promises, Promises (Silhoutte Intimate Moments, No. 1109)',
 'Psv One For The Money Cs : A Stephanie Plum Novel',
 'Q-Squared (Star Trek: The Next Generation)',
 'Ralph S. Mouse',
 'Real Thing',
 'Reasonable Doubt',
 'Red Angel',
 'Red Dragon',
 'Reflections And Dreams',
 'Ring at the Ready',
 'Riptide',
 'Rising Phoenix Low Price Cassette : Low Price Cassette',
 "Robert Ludlum's The Hades Factor : A Covert-One Novel (A Covert-One Novel)",
 'Rock Star',
 'Romulan Way (Classic Star Trek 35) (Star Trek, No 35)',
 'Roses Are Red (Alex Cross Novels)',
 'Royal Protocol  (Crown And Glory) (Silhouette Special Edition, No. 1471)',
 'Rules of Engagement (Star Trek, Book 48)',
 'Running With the Demon',
 'Saint Nick',
 'Sanctuary (Star Trek, Book 61)',
 'Sandman, Sleep',
 'Santa Baby',
 'Scarlet Feather',
 'Season of Passion',
 'Second Sight',
 'Second Star to the Right',
 'Secret Life of Bees',
 'Secrets',
 'Secrets of the Baby Whisperer: How to Calm, Connect, and Communicate with Your Baby',
 'Seize the Night',
 'Selections from A Course In Miracles : Contains Accept This Gift, A Gift of Healing, and A Gift of Peace',
 'Separate Beds',
 'Seven of Nine (Star Trek: Voyager)',
 'Sex, Money, and Murder in Daytona Beach',
 'Shadow Dance',
 "Shadow Watch (Tom Clancy's Power Plays (Paperback))",
 'Shaman',
 'Sharp Edges',
 'Shell Game (Star Trek, Book 63)',
 'Shell Seekers',
 'Shirley, Goodness and Mercy',
 'Shopaholic Takes Manhattan (Summer Display Opportunity)',
 'Shutter Island',
 'Shy Boy : The Horse That Came in From The WIld',
 'Sir Apropos of Nothing',
 'Skinwalkers Low Price',
 'Skipping Christmas',
 'Slow Waltz in Cedar Bend (Unabridged)',
 'Small Town Girl',
 'Small leather journal with strap-myra series',
 'Solis',
 'Some Girls Do',
 'Song Twice over',
 'Songs in Ordinary Time',
 'Southern Living Our Best Easy Weeknight Favorites (Southern Living (Hardcover Oxmoor))',
 'Southern Reason, Western Rhyme (Harlequin Superromance, No 527)',
 'Spring Collection',
 'Spring Fancy',
 'Ssn',
 'Standing for Something: 10 Neglected Virtues That Will Heal Our Hearts and Homes',
 "State of Siege (Tom Clancy's Op-Center, 6)",
 'Sticks and Scones',
 "Stolen Lives : Twenty Years in a Desert Jail (Oprah's Book Club (Paperback))",
 'Stone Soup for the World',
 'Stranger at the Gate: To Be Gay and Christian in America',
 'Strip Tease (Price-Less Audios)',
 'Sudden Mischief: A Suspense Novel',
 'Summer Sisters',
 "Summer's End",
 'Sunshine for the Lds Womans Soul',
 "Suzanne's Diary for Nicholas",
 'Sweet Memories (Super Sound Buys)',
 'Sweet Savage Love (Mira (Audio))',
 "Sylvia Browne's Book of Dreams",
 'THREE TO GET DEADLY: A STEPHANIE PLUM NOVEL CASSETTE : A Stephanie Plum Novel (Stephanie Plum Novels (Audio))',
 'Taking Lottie Home',
 "Talking to Heaven: A Medium's Message of Life After Death",
 'Tall In The Saddle (Harlequin Desire, No 660)',
 'Tall, Dark And Wanted (Harlequin Intrigue, No 596)',
 "Teacher's Pet (Little Apple Paperback)",
 'Tell Me Lies (Tell Me Lies)',
 "Temple'S Prize (Harlequin Historical Romances, No 394)",
 'Tempting Fate (Topaz Historical Romances)',
 'Tender Malice',
 'Tender Stranger (Harlequin Historical, No. 456)',
 'Tender Warrior',
 'That Camden Summer',
 'The 13th Juror',
 'The Anne Rice Collection: Mayfair Witches : Lasher/the Witching Hour/Taltos',
 'The Ashes of Eden (Star Trek)',
 'The Bachelor (Warner Books Contemporary Romance)',
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)',
 'The Bad Witness',
 'The Beach House',
 'The Beloved Scoundrel',
 'The Billionaire Borrows A Bride  (The Wedding Auction)',
 'The Blood Jaguar',
 'The Boy Next Door: There is Nothing Average About ...',
 'The Broken Hearts Club: A Thriller (Conrad Voort (Audio))',
 'The Cereal Murders (Culinary Mystery)',
 'The Chamber',
 'The Client',
 'The Collected Plays of Neil Simon, Vol. 4',
 "The Complete Idiot's Guide to Feng Shui",
 'The Copper Beech',
 'The Corps: Semper Fi/Bk 1 (Corps (Paperback))',
 'The Cove (Nova Audio Books)',
 "The Cowboy's Christmas Miracle (Code of the West)",
 'The Delta Decision',
 'The Devil Wears Prada',
 'The Diary of Opal Whiteley',
 'The Eagle Has Flown',
 'The Enchanted Land (Romance Alive)',
 'The Escape (Star Trek Voyager, No 2)',
 'The Ethics of Star Trek',
 'The Family Curse',
 'The Family Plan',
 'The Firm',
 'The Five People You Meet in Heaven',
 'The Gamble',
 "The General's Daughter",
 'The Genesis Code',
 'The Gentle Pirate (Candlelight Ecstasy Romance)',
 'The Ghost',
 'The Gift',
 'The Girl Most Likely to...',

In [174]:
len(random_user_books_read)

697

In [175]:
books_read_df = user_book_df[random_user_books_read]

In [176]:
books_read_df

Book-Title,1812 (The American Story),1984,1st to Die,1st to Die: A Novel,3rd Degree,4 Blondes,A Colton Family Christmas,A Day Late and Dollar Short,A Five-Year Plan,A Knife to Remember (Jane Jeffry Mysteries (Paperback)),...,Wild Hearts,Wild Swan (Wild Swan),Wizard War,"Woman With A Mystery (Harlequin Intrigue, No. 643)",Women &amp; Love : Finding True Love While Staying True to Yourself: The Eight Make-Or-Break Experiences in Women's Lives,Women on Men,Word of Honor,Worst Fears Realized,Years,Yuletide Brides (2 Novels in 1)
User-ID,,,,,,,,,,,,,,,,,,,,,
3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6251,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7346,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274308,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
275970,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [177]:
books_read_df.shape

(200, 697)

We now wanna calculate how many users how many books all the users has read that the randon user has read

In [178]:
user_books_read = books_read_df.T.notnull().sum()

In [179]:
user_books_read

User-ID
3363      26
6251      30
6575      30
7346      40
11601     39
          ..
271284    43
274061    14
274308    44
275970    19
278418    50
Length: 200, dtype: int64

In [180]:
user_books_read = user_books_read.reset_index()
user_books_read.columns = ['Book-Title', 'Number of Users']
user_books_read

     Book-Title  Number of Users
0          3363               26
1          6251               30
2          6575               30
3          7346               40
4         11601               39
..          ...              ...
195      271284               43
196      274061               14
197      274308               44
198      275970               19
199      278418               50

[200 rows x 2 columns]

We now select the users that have rated more than 70% of the movies the random user have rated

In [189]:
user_same_books = user_books_read[user_books_read['Number of Users'] > (len(random_user_books_read)*70)/100]["Book-Title"]
user_same_books

95    143175
Name: Book-Title, dtype: int64

Since its only 1 book, im gonna lower the %

In [193]:
user_same_books_20 = user_books_read[user_books_read['Number of Users'] > (len(random_user_books_read)*20)/100]["Book-Title"]
user_same_books_20

5      11676
95    143175
Name: Book-Title, dtype: int64

I want to have a few more books, so i'll try again

In [196]:
user_same_books_5 = user_books_read[user_books_read['Number of Users'] > (len(random_user_books_read)*5)/100]["Book-Title"]
user_same_books_5

3        7346
4       11601
5       11676
7       13552
10      16795
        ...
192    265313
194    269566
195    271284
197    274308
199    278418
Name: Book-Title, Length: 95, dtype: int64

Now that im satisfied with the amount of books, i can create a data frame with the rating of only those users.

In [198]:
final_df = books_read_df[books_read_df.index.isin(user_same_books_5)]
final_df

Book-Title,1812 (The American Story),1984,1st to Die,1st to Die: A Novel,3rd Degree,4 Blondes,A Colton Family Christmas,A Day Late and Dollar Short,A Five-Year Plan,A Knife to Remember (Jane Jeffry Mysteries (Paperback)),...,Wild Hearts,Wild Swan (Wild Swan),Wizard War,"Woman With A Mystery (Harlequin Intrigue, No. 643)",Women &amp; Love : Finding True Love While Staying True to Yourself: The Eight Make-Or-Break Experiences in Women's Lives,Women on Men,Word of Honor,Worst Fears Realized,Years,Yuletide Brides (2 Novels in 1)
User-ID,,,,,,,,,,,,,,,,,,,,,
7346,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
11676,NaN,3.333333,NaN,9.0,4.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,8.0
13552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16795,NaN,8.000000,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274308,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We can now calculate the correlation between all these users.

In [199]:
corr_df = final_df.T.corr()
corr_df

User-ID,7346,11601,11676,13552,16795,21014,23768,25981,26544,31315,...,245963,246655,254465,261829,265115,265313,269566,271284,274308,278418
User-ID,,,,,,,,,,,,,,,,,,,,,
7346,1.000000,NaN,0.231382,-0.355523,-0.077045,0.046638,-0.267580,1.000000,NaN,-0.148606,...,NaN,NaN,-0.038303,-0.424176,0.487762,NaN,0.173153,NaN,-0.389176,NaN
11601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11676,0.231382,NaN,1.000000,-0.077059,0.164093,-0.062206,-0.005900,0.101114,-0.296127,-0.062072,...,NaN,NaN,0.181113,-0.155620,0.024025,0.082451,0.148402,0.132622,0.116247,NaN
13552,-0.355523,NaN,-0.077059,1.000000,0.157841,-0.188777,0.380261,0.400000,NaN,0.034668,...,NaN,NaN,-0.069151,NaN,-0.092476,NaN,-0.277464,0.490881,-0.321324,NaN
16795,-0.077045,NaN,0.164093,0.157841,1.000000,0.132341,0.233715,-0.287895,-0.308650,0.119999,...,NaN,NaN,0.245150,0.398834,0.028906,0.078361,-0.156706,-0.222817,0.369756,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265313,NaN,NaN,0.082451,NaN,0.078361,-0.215166,-0.062500,-0.455983,-0.112839,-0.401116,...,NaN,NaN,-0.288675,0.129069,0.194320,1.000000,-0.120370,NaN,-0.152349,NaN
269566,0.173153,NaN,0.148402,-0.277464,-0.156706,0.246289,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-0.310647,NaN,-0.120370,1.000000,NaN,NaN,NaN
271284,NaN,NaN,0.132622,0.490881,-0.222817,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,-0.083333,NaN
274308,-0.389176,NaN,0.116247,-0.321324,0.369756,NaN,NaN,NaN,-0.120281,0.347180,...,NaN,NaN,-0.239046,0.354857,0.128596,-0.152349,NaN,-0.083333,1.000000,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
user_corr = corr_df[random_user].reset_index()
user_corr = user_corr.rename(columns={random_user: 'Correlation'})
user_corr = user_corr.sort_values('Correlation', ascending=False)
user_corr = user_corr.loc[user_corr["User-ID"] != random_user]
user_corr = user_corr.reset_index(drop=True)
user_corr

    User-ID  Correlation
0    190925     0.378718
1     73394     0.347483
2    106225     0.309498
3     98391     0.304480
4    217375     0.273498
..      ...          ...
89   228998          NaN
90   242824          NaN
91   245963          NaN
92   246655          NaN
93   278418          NaN

[94 rows x 2 columns]

Now let us merge it with all the ratings of the users

In [205]:
# Merge it with all the ratings of the users
top_users_rating = user_corr.merge(ratings[['User-ID', 'ISBN', 'Book-Rating']], how='inner')
top_users_rating

        User-ID  Correlation         ISBN  Book-Rating
0        190925     0.378718  *0515128325            0
1        190925     0.378718   0006473369            0
2        190925     0.378718   0006512143            7
3        190925     0.378718   0007146078            0
4        190925     0.378718   0020258801            0
...         ...          ...          ...          ...
183792   278418          NaN   5008601364            0
183793   278418          NaN   5008602064            0
183794   278418          NaN    528826859            0
183795   278418          NaN    684124645            0
183796   278418          NaN   9446617058            0

[183797 rows x 4 columns]

We can now create ratings that are weigthed with respect to the correlation

In [206]:
top_users_rating["Weighted Rating"] = top_users_rating["Correlation"] * top_users_rating["Book-Rating"]
top_users_rating

        User-ID  Correlation         ISBN  Book-Rating  Weighted Rating
0        190925     0.378718  *0515128325            0         0.000000
1        190925     0.378718   0006473369            0         0.000000
2        190925     0.378718   0006512143            7         2.651027
3        190925     0.378718   0007146078            0         0.000000
4        190925     0.378718   0020258801            0         0.000000
...         ...          ...          ...          ...              ...
183792   278418          NaN   5008601364            0              NaN
183793   278418          NaN   5008602064            0              NaN
183794   278418          NaN    528826859            0              NaN
183795   278418          NaN    684124645            0              NaN
183796   278418          NaN   9446617058            0              NaN

[183797 rows x 5 columns]

For each book, we can now take the average of the weighted ratings to get a final rating for all the movies

In [207]:
recommendation_df = top_users_rating.groupby('ISBN').agg({"Weighted Rating": "mean"}).sort_values(by='Weighted Rating', ascending=False)
reccomendation_df = recommendation_df.reset_index()
recommendation_df

               Weighted Rating
ISBN
0553575325            3.787181
0736413057            3.474826
0451166906            3.408463
0807072036            3.408463
0449224627            3.408463
...                        ...
9684320949                 NaN
970690042X                 NaN
B00005VY5H                 NaN
B00005W4C1                 NaN
O34525788X195              NaN

[95765 rows x 1 columns]

In [208]:
books_to_be_recommended = recommendation_df.merge(books[['ISBN', 'Book-Title']], left_on='ISBN', right_on='ISBN').drop(columns='ISBN')
books_to_be_recommended = books_to_be_recommended.head()
books_to_be_recommended

   Weighted Rating                                         Book-Title
0         3.787181  Simple Justice: A Benjamin Justice Mystery (Be...
1         3.474826            Pooh Loves You (Disney Winnie the Pooh)
2         3.408463                                         Hard Candy
3         3.408463  Girl in the Mirror: Three Generations of Black...
4         3.408463                                Dress Her in Indigo

We can now put it together into a recommender function

In [209]:
def user_based_recommender(input_user, user_book_df, rate_ratio=0.05, num_recommendations=5):
    # Creating a list of books the input user have rated
    input_user_df = user_book_df[user_book_df.index == input_user]
    input_user_books_read = input_user_df.columns[input_user_df.notna().any()].tolist()

    # Creating a dataframe of books the input user have rated
    books_read_df = user_book_df[input_user_books_read]

    # Counting how many books other users have rated that the input user have also rated
    user_books_read = books_read_df.T.notnull().sum()
    user_books_read = user_books_read.reset_index()
    user_books_read.columns = ['Book-Title', 'Number of Users']

    # Selecting similar users over based on a rating similiarity count ratio threshold
    user_same_books = user_books_read[user_books_read['Number of Users'] > (len(input_user_books_read)*rate_ratio)]["Book-Title"]

    # Creating a correlation matrix
    final_df = books_read_df[books_read_df.index.isin(user_same_books)]
    corr_df = final_df.T.corr()

    # Created top correlated users
    user_corr = corr_df[input_user].reset_index()
    user_corr = user_corr.rename(columns={input_user: 'Correlation'})
    user_corr = user_corr.sort_values('Correlation', ascending=False)
    user_corr = user_corr.loc[user_corr["User-ID"] != input_user]
    user_corr = user_corr.reset_index(drop=True)

    # Creating correleted weighted ratings
    top_users_rating = user_corr.merge(ratings[['User-ID', 'ISBN', 'Book-Rating']], how='inner')
    top_users_rating["Weighted Rating"] = top_users_rating["Correlation"] * top_users_rating["Book-Rating"]

    # Creating a recommendation dataframe
    recommendation_df = top_users_rating.groupby('ISBN').agg({"Weighted Rating": "mean"}).sort_values(by='Weighted Rating', ascending=False)
    recommendation_df = recommendation_df.reset_index()

    # Creating the final recommendations
    books_to_be_recommended = recommendation_df.merge(books[['ISBN', 'Book-Title']], left_on='ISBN', right_on='ISBN').drop(columns='ISBN')
    books_to_be_recommended = books_to_be_recommended.head(num_recommendations)

    return books_to_be_recommended["Book-Title"]

In [211]:
user_book_df

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",Always Have Popsicles,Apple Magic (The Collector's series),Beyond IBM: Leadership Marketing and Finance for the 1990s,Dark Justice,Deceived,"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),Garfield Bigger and Better (Garfield (Numbered Paperback)),"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",...,whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!",Â¡Cristina! confidencias de una rubia,Â¿Eres tu mi mamÃ¡?/Are You My Mother?,"Â¿QuÃ© me quieres, amor?","Ã?ber den Wunsch, sich wohlzufÃ¼hlen: Geschichten",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.,Ã?Â?stlich der Berge.
User-ID,,,,,,,,,,,,,,,,,,,,,
3363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11601,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274061,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [212]:
user_based_recommender(random_user, user_book_df)

0    Simple Justice: A Benjamin Justice Mystery (Be...
1              Pooh Loves You (Disney Winnie the Pooh)
2                                           Hard Candy
3    Girl in the Mirror: Three Generations of Black...
4                                  Dress Her in Indigo
Name: Book-Title, dtype: object